<nav class="navbar">
    <a class="navbar-button" routerLink="/" routerLinkActive="active" [routerLinkActiveOptions]="{ exact: true }">
        Accueil
    </a>
    <a class="navbar-button" routerLink="/projects" routerLinkActive="active">
        Projets
    </a>
    <a class="navbar-icon-button" routerLink="/about" routerLinkActive="active">
        <img src="logo.png" class="navbar-icon" />
        À propos
    </a>
    <a class="navbar-button" routerLink="/contact" routerLinkActive="active">
        Me contacter
    </a>
</nav>
