<div class="about-content-container">
    <div class="about-content">
        <p>Bonjour, je m'appelle <strong>Nathan GROS</strong>.</p>
        <p>Je suis étudiant à <strong>Polytech Nice Sophia</strong>, en cycle <strong>ingénieur informatique</strong>.
        </p>
        <p>J'ai découvert la programmation au lycée, et depuis j'adore programmer des projets pendant mon temps libre.
            J'aime particulièrement le développement <strong>front-end</strong> (et tout ce qui est visuel en général),
            et <strong>l'algorithmique</strong>. Je participe régulièrement à des évènements de programmation
            algorithmique, comme l'<a href="https://adventofcode.com/">Advent of Code</a>.</p>
        <h2 class="section-title">Compétences</h2>
        <div class="skills-container">
            <div class="skill-category">
                <h3 class="skill-title">Programmation</h3>
                <ul>
                    <li>C</li>
                    <li>Python</li>
                    <li>Java</li>
                    <li>Html</li>
                    <li>CSS</li>
                    <li>TypeScript</li>
                    <li>SQL</li>
                    <li>OCaml</li>
                </ul>
            </div>
            <div class="skill-category">
                <h3 class="skill-title">Technologies</h3>
                <ul>
                    <li>Linux</li>
                    <li>Windows</li>
                    <li>Git</li>
                    <li>Github</li>
                    <li>Office</li>
                </ul>
            </div>
            <div class="skill-category">
                <h3 class="skill-title">Langues</h3>
                <ul>
                    <li>Francais (langue maternelle)</li>
                    <li>Anglais (niveau C1)</li>
                    <li>Allemand (niveau A2)</li>
                </ul>
            </div>
        </div>
        <h2 class="section-title">Education</h2>
        <p>Après un lycée général, j'ai obtenu mon <strong>Baccalauréat avec mention Bien</strong> en 2022.</p>
        <p>J'ai ensuite intégré une <strong>CPGE MP2I, puis MPI</strong> au CIV (Centre International de Valbonne)</p>
        <p>Après ces 2 ans de CPGE, j'ai pu intégrer en 2024, suite aux concours, l'école d'ingénieurs <strong>Polytech Nice
                Sophia</strong>, en cycle <strong>ingénieur informatique</strong>.</p>
        <h2 class="section-title">Passions</h2>
        <p>Quand je ne code pas évidemment, j'aime jouer à des jeux de société ou des jeux vidéo, faire de l'origami,
            lire des livres, ou encore résoudre des casses-têtes (comme des Rubik's cubes).</p>
    </div>
</div>
