<div class="contact-content-container">
    <div class="contact-content">
        <h1 class="title">Nathan Gros</h1>
        <h3 class="subtitle">Etudiant ingénieur informatique</h3>
        <div class="mail-adress-container">
            <p>Mon adresse mail:</p>
            <p (click)="copyEmail()" class="mail-adress">
                <span title="Cliquez pour copier">nathan.gros6@gmail.com</span>
            </p>
        </div>
        <div class="buttons-footer">
            <a class="button" href="https://github.com/NathanGros">Mon GitHub</a>
            <a class="button" href="https://www.linkedin.com/in/nathan-gros/">Mon LinkedIn</a>
        </div>
    </div>
</div>
