<div class="home-content-container">
    <img src="logo.png" alt="logo">
    <div class="home-content-right-side">
        <h1 class="title">Nathan Gros</h1>
        <h3 class="subtitle">Etudiant ingénieur informatique</h3>
        <p class="paragraph">
            J'ai programmé de nombreux projets dont quelques uns sont dans
            <a class="hyperlink" href="/projects"><span title="Voir mes projets">mes projets</span></a>
        </p>
        <div class="buttons-footer">
            <a class="button" href="https://github.com/NathanGros">Mon GitHub</a>
            <a class="button" href="https://www.linkedin.com/in/nathan-gros/">Mon LinkedIn</a>
            <a class="button" href="cv_francais.pdf" target="_blank">Mon CV</a>
        </div>
    </div>
</div>
